/* Reference: https://github.com/sean-public/RecipeFilter/ */

#recipeBox {
  height: 700px !important;
  display: block !important;
  position: fixed !important;
	top: 0 !important;
	left: 50% !important;
	transform: translate(-50%, 0) !important;
	margin: 50px 20px 20px 20px !important;
	padding: 10px !important;
	background: #FCFCFC !important;
	z-index: 999999999 !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 9999999px !important;
  width: 800px !important;
  overflow: auto !important;
}

#title {
  margin: 0;
  font-family: 'Pattaya';
  font-size: 40px;
  color: #FAA556;
  margin-left: 10px;
}

#ingredientsBox {
  position: relative;
  left: 40px;
  width: 740px;
}

#ingredientsBox:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 340px;
  min-height: 200px;
  max-height: 500px;
}

#ingredientsRight {
  margin-left: 20px;
}

#instructionsBox {
  position: relative;
  width: 700px;
  left: 40px;
  height: 300px;
  background-color: lightblue;
  margin-top: 40px;
}

#addToPlanner {
  position: relative;
  width: 200px;
  left: 290px;
  height: 40px;
  background-color: #FAA556;
  border-radius: 20px;;
  margin-top: 20px;
}

#addToPlanner > p {
  margin: 0;
  position: absolute;
  top: 2px;
  left: 35px;
  font-family: 'Pattaya';
  color: #FFFFFF;
  font-size: 22px;
}

.ingredientsUL {
  list-style-type: none;
}

.ingredientsLabel {
  font-family: 'Ubuntu';
  font-size: 12px;
}


