#recipeBox {
  min-height: 400px !important;
  max-height: 800px !important;
  display: block !important;
  position: fixed !important;
	top: 0 !important;
	left: 50% !important;
	transform: translate(-50%, 0) !important;
	margin: 20px 20px 20px 20px !important;
	padding: 10px !important;
	background: #FCFCFC !important;
	z-index: 999999999 !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 9999999px !important;
  width: 800px !important;
  overflow: auto !important;
}

#title, #plannerTitle {
  margin: 0;
  font-family: 'Pattaya';
  font-size: 40px;
  color: #ff7a00;
  margin-left: 10px;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: normal;
  line-height: normal;
}

#switchToPlanner, #switchToRecipe {
  margin: 0;
  font-family: 'Pattaya';
  font-size: 18px;
  color: #ff7a00;
  position: absolute;
  top: 8px;
  right: 60px;
  text-decoration-line: underline;
  cursor: pointer;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: normal;
  line-height: normal;
}

#closeRecipe, #closePlanner {
  margin: 0;
  font-family: 'Montserrat';
  font-size: 18px;
  color: black;
  position: absolute;
  top: 7px;
  right: 20px;
  cursor: pointer;
}

#ingredientsBox {
  position: relative;
  left: 40px;
  width: 740px;
}

#ingredientsBox:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 340px;
  min-height: 200px;
  max-height: 500px;
}

#ingredientsRight {
  margin-left: 20px;
}

#instructionsBox {
  position: relative;
  width: 700px;
  left: 40px;
  height: 250px;
  /* margin-top: 40px; */
  /* background-color:rgba(0, 0, 0, 0.5) */
}

#addToPlanner {
  position: relative;
  width: 200px;
  left: 290px;
  height: 40px;
  background-color: #ff7a00;
  border-radius: 20px;;
  margin-top: 20px;
  cursor: pointer;
}

#addToPlannerHeading {
  margin: 0;
  position: absolute;
  top: 4px;
  left: 35px;
  font-family: 'Pattaya';
  color: #FFFFFF;
  font-size: 22px;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: normal;
  line-height: normal;
}

.ingredientsUL {
  list-style-type: none;
}

.ingredientsLabel {
  font-family: 'Ubuntu';
  font-size: 12px;
}

#back {
  width: 60px;
  transform: rotate(180deg);
  position: relative;
  top: 120px;
  opacity: 0.2;
  cursor: pointer;
}

#next {
  width: 60px;
  position: relative;
  top: 120px;
  left: 575px;
  opacity: 0.6;
  cursor: pointer;
}

#instruction {
  /* background-color: lightblue; */
  position: absolute;
  top: 15px;
  left: 130px;
  height: 90%;
  width: 60%;
}

#instructionNum {
  position: absolute;
  top: 20px;
  left: 200px;
  font-family: "Pattaya";
  font-size: 42px;
  color: #ff7a00;
  margin: 0;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: normal;
}

#instructionText{
  position: absolute;
  top: 80px;
  font-family: "Ubuntu";
  font-size: 18px;
  margin: 0;
  align-items: center;
  text-align: center;
}

#dropdowns {
  position: relative;
  left: 40px;
  width: 740px;
}

#dropdowns:after {
  content: "";
  display: table;
  clear: both;
}

.shortColumn {
  float: left;
  width: 340px;
  height: 40px;
}

#dropdownWeekday {
  margin-left: 20px;
}

select {
  position: relative;
  border-radius: 10px;
  font-family: 'Ubuntu';
  font-size: 18px;
}

#selectWeek {
  left: 80px;
  padding: 5px 35px 5px 25px;
}

#selectWeekday {
  left: 60px;
  padding: 5px 35px 5px 25px;
}

option {
  font-family: 'Ubuntu';
}

#add {
  position: relative;
  width: 100px;
  left: 350px;
  height: 40px;
  background-color: #ff7a00;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

#add > h3 {
  margin: 0;
  position: absolute;
  top: 5px;
  left: 30px;
  font-family: 'Pattaya';
  color: #FFFFFF;
  font-size: 22px;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: normal;
  line-height: normal;
}

#plannerBox {
  height: 775px !important;
  display: block !important;
  position: fixed !important;
	top: 0 !important;
	left: 50% !important;
	transform: translate(-50%, 0) !important;
	margin: 20px 20px 20px 20px !important;
	padding: 10px !important;
	background: #FCFCFC !important;
	z-index: 999999999 !important;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 9999999px !important;
  width: 1000px !important;
  overflow: auto !important;
}


#weekBox {
  position: relative;
  width: 250px;
  left: 375px;
  height: 40px;
  /* background-color:rgba(0, 0, 0, 0.2) */
}

#prevWeek {
  width: 20px;
  transform: rotate(180deg);
  position: relative;
  top: 5px;
  left: 15px;
  opacity: 0.2;
  cursor: pointer;
}

#nextWeek {
  width: 20px;
  position: relative;
  top: 5px;
  left: 190px;
  opacity: 0.6;
  cursor: pointer;
}

#weekPlanner {
  margin: 0;
  position: absolute;
  top: 8px;
  font-family: 'Ubuntu';
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 150px;
  text-transform: unset;
  letter-spacing: normal;
  line-height: normal;
}

#weekdays {
  position: relative;
  left: 30px;
  top: 30px;
  width: 960px;
}

#weekdays:after {
  content: "";
  display: table;
  clear: both;
}

.weekday {
  float: left;
  height: 500px;
  width: 130px;
  border-right: 1px solid black;
  text-align: center;
}

#lastWeekday {
  border: none;
}

.weekdayHeading {
  margin: 0;
  /* padding-left: 20px; */
  font-family: 'Ubuntu';
  font-size: 18px;
  font-weight: normal;
  text-transform: unset;
  letter-spacing: normal;
  line-height: normal;
}

.recipeDiv {
  background-color: #FFE2C8;
  border-radius: 15px;
  text-align: center;
  margin: 15px 5px 15px 5px;
  cursor: pointer;
}

.recipeDivP {
  font-family: 'Ubuntu';
  font-size: 14px;
  margin: 0px;
  padding: 10px;
  line-height: 20px;
}


